

.sidebar-image-container {
    padding: 20px;
    text-align: center;
}

.sidebar-list-group-item {
    border-radius: 0px;
    border: none;
}

.sidebar-list-group-item:first-child,
.sidebar-list-group-item:last-child {
    border-radius: 0px;
}
