.app {
    height: 100vh;
    background-color: #a8a8a8;
}

.content-container,
.sidebar-container {
    background-color: white;
    height: 100vh;
}


.sidebar-container {
    padding: 0px;
    border-right: 1px solid #a8a8a8;
}
